---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>
    Kamiyama.rb #1 2014/11/08
  </h1>
  <h2>
    in KAMIYAMA VALLEY SATELLITE OFFICE COMPLEX
  </h2>
  <p class="doc">
    <%= link_to "Join us !", "http://kamiyamarb.doorkeeper.jp/events/16452" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
<div class='contents'>
  <h2>セッション #1 XP祭り 2014 の再演「人生で大事なことはXP白本の参考文献に教わった 〜本と本の間の見えない糸を辿り、XPをより深く知る〜」</h2>
  <h4>スピーカー：懸田 剛さん (<%= link_to '@kkd', 'https://twitter.com/kkd' %>)</h4>
  <%= image_tag 'kkd.jpg' %>
</div>

<div class='contents'>
  <h2>セッション #2 「プロジェクトで重要なことはだいたいSHIR○BAK○で学んだ(仮)」</h2>
  <h4>スピーカー：鍛冶舎 浩さん (<%= link_to 'kajisha', 'https://github.com/kajisha' %>)</h4>
  <%= image_tag 'kajisha.jpg' %>
</div>

<div class='contents'>
  <h2>セッション #3 coming soon..</h2>
  <h4>スピーカー：千葉 啓介さん (<%= link_to '@chibamem', 'https://twitter.com/chibamem' %>)</h4>
  <%= image_tag 'chibamem.jpg' %>
</div>

<div class='contents'>
  <h2>セッション #4 coming soon..</h2>
  <h4>スピーカー：田垣 亜季さん (<%= link_to '@akiinyo', 'https://twitter.com/akiinyo' %>)</h4>
  <%= image_tag 'akiinyo.jpg' %>
</div>

<div class='contents'>
  <h2>セッション #5 coming soon..</h2>
  <h4>スピーカー：未定</h4>
</div>

<div class='contents'>
  <h2>ライトニングトーク</h2>
  <h4>飛び込み歓迎！問い合わせは <%= link_to '@dany1468', 'https://twitter.com/dany1468' %> まで</h4>
</div>

<div class='contents'>
  <h2>参加申し込み</h2>
  <p>
    <%= link_to 'Doorkeeper 神山.rb 第一回', 'http://kamiyamarb.doorkeeper.jp/events/16452', class: 'btn btn-lg btn-outline', role: 'button' %>
  </p>
</div>
